<div>
  <input
    type="text"
    id="myName"
    placeholder="Type uw naam"
    (input)="onInput($event)"
  />
</div>
<div>
  <select>
    <option *ngFor="let user of users; let i = index" [selected]="i === 0">{{
      user[userKey]
    }}</option>
  </select>
  <div>
    <select
      name="userKeys"
      [(ngModel)]="userKey"
      (change)="sortByKey(users, userKey)"
    >
      <option *ngFor="let key of userKeys" [selected]="key === userKey">{{
        key
      }}</option>
    </select>
  </div>
</div>

<div>
  <button (click)="tellATale()">Vertel!</button>
  <button (click)="startCounting()">Start counting!</button>
  <button (click)="showItems()">showItems</button>
  <button (click)="removeSubscription()">Stop!</button>
</div>
